{% extends "base.html.j2" %}
{% block content %}
<div class="container mt-5">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">About Mini Social</h1>
      <p class="col-md-8 fs-4">This is a demo social platform built using Flask and Bootstrap 5 with <a href="https://skeuostrap.szab.eu">SkeuoStrap</a> for styling.</p>
      <hr class="my-4">
      <p class="text-muted">Copyright Aku Visuri (aku.visuri@oulu.fi) and Daniel Szabo (daniel.szabo@oulu.fi) at the University of Oulu, Finland. - 2025</p>
    </div>
  </div>
</div>
{% endblock %}